<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <script>
        async function getAllData() {
            const req = await fetch('https://fakestoreapi.com/products')
                .then((res) => {
                    console.log(res.headers.get('Content-Type'))
                    // console.log(res.headers.get('Date'))

                    console.log(res.status)
                    console.log(res.statusText)
                    console.log(res.type)
                    console.log(res.url)
                    console.log(res.body)
                    console.log(res.redirected)
                    console.log(res.arrayBuffer())
                })
        }
        getAllData()
    </script>
</body>
</html>